body {
  font-family: "Helvetica Neue";
}

#display-parent-div {
  position: relative;
}

#canvas-div {
    position: absolute;
}

#floor {
  border: thin solid black;
}

#svg-div {
    position: absolute;
}

#ui-div {
    position: absolute;
    left: 550;
}

#ui-div button {
    margin: 10px;
    margin-top: 0;
    width: 100px;
}

