body {
  font-family: "Helvetica Neue";
}

#display-parent-div {
  position: relative;
}

#canvas-div {
    position: absolute;
}

#floor {
  border: thin solid black;
}

#svg-div {
    position: absolute;
}

